@charset "utf-8";
/* CSS Document */

* {margin: 0; padding: 0}



h2, h3, h4,p {font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}

h2 {font-size: 24px; color: #2E8A78;}

h3 {font-size:22px;}

ul,ol {font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";}

ul {font-size: 20px;}

ol {font-size: 18px;}

a:link {color: #2E8A78;}
a:visited {color:#091A17;}

body {background-color: #D7BABA}

#video {font-family: Verdana; color: #780002; }

.destacado {font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; color:#003E2B; font-size: 20px }


#contenedor {width:90%; padding: 2em;
	background-color: #E4E0F3; 
	margin:0 auto; 
	position: relative;}


#cabeza {width:30%;
	box-sizing: border-box; position: absolute; display: inline-block}

#seccion {width:65%;
position: relative; top:auto;
left: 35%; display:inline-block; box-sizing: border-box;}


#cancion {text-align: right}

#pie {margin: 0 auto; width: auto; height: 90px; padding: 1em; background-color:#111111; font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; color: whitesmoke; text-align: center; }



